@font-face {
    font-family: 'cera_round_pro_demoregular';
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot');
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-regular-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-regular-webfont.svg#cera_round_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.modal{
    max-width: 520px;
    margin: auto;
    padding: 52px 100px 40px 100px;
    border-bottom: solid 10px #46a358;
}
.modal .link{
    text-align: center;
    margin-bottom: 40px;
}
.modal .link a{
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    text-decoration: none;
}
.modal .link a:last-of-type{
    color: #46a358;
}
.modal .link span{
    font-weight: 250;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin: 0 11px;
}
.text{
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
}
.form .box{
    width: 300px;
    height: 40px;
    border: 1px solid #eaeaea;
    border-radius: 5px;

    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;

    padding: 12px 14px;

    margin-bottom: 16px;
}
.form input:last-of-type{
    margin-bottom: 41px;
}
.form .btn{
    width: 300px;
    height: 45px;
    background: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    padding: 13px;
    text-align: center;
    margin-bottom: 36px;
}
.with{
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    text-align: center;
    margin-bottom: 27px;
}
.social{
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
}
.modal .social .picinet{
    margin-right: 9px;
}
.social.twoa{
    margin-bottom: 15px;
}



.container{
    max-width: 1200px;
    margin: auto;
}
header{
    padding-top: 31px;
    padding-bottom: 12px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login_btn{
    border-radius: 6px;
    background: #46a358;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 18px;
    padding: 7px 17px;
    font-family: 'cera_round_pro_demoregular';
}
.login_btn:before{
    background-image: url("../img/Logout.svg");
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    margin-right: 4px;
}
.login_btn:hover{
    color: black;
}
.login_btn:hover:before{
    background-image: url("../img/Logout_2.svg");
}
header ul{
    display: flex;
    align-items: center;
    gap: 50px;
    font-family: 'cera_round_pro_demoregular';
}
header li{
    text-align: center;
    position: relative;
}
header ul .a{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
}
header ul .a:hover{
    font-weight: 700;
    color: #46a358;
}
header ul li:after{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #46a358;
    position: relative;
    bottom: -18px;
    transition: 0.4s;
}
header ul li:hover:after{
    width: 100%;
}
header ul li ul{
    position: absolute;
    bottom: -118px;
    left: -32px;
    background: #46a358;
    display: none;
}
header ul li ul li{
    text-align: left;
    min-width: 188px;
    background: #edf6ee;
}
header .dropdown li a{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
    padding: 8px 14px;
}
header .dropdown ul li{

}
header li.dropdown:hover ul{
    display: block;
}



.banner{
    margin-bottom: 26px;
    padding-top: 12px;
}
.banner .container{
    display: flex;
    justify-content: space-between;
    padding-left: 43px;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}
.banner .welcome{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-top: 68px;
    padding-bottom: 7px;
}
.banner .planet{
    max-width: 530px;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;
    font-family: 'cera_round_pro_demoregular';
}
.banner span{
    color: #46a358;
}
.banner .urban{
    max-width: 557px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
}
.banner .shop{
    border-radius: 6px;
    background: #46a358;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 10px 27px;
    margin-bottom: 85px;
    font-family: 'cera_round_pro_demoregular';
}
.banner .flowers{
    display: flex;
    align-items: flex-end;
}


.product{
    margin-bottom: 90px;
}
.product .container{
    display: flex;
    justify-content: space-between;
}
.product .menu{
    max-width: 310px;
    background: #fbfbfb;
}
.product .menu h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    padding: 14px 18px;
    margin-bottom: 7px;
    font-family: 'cera_round_pro_demoregular';
}
.product .menu a{
    font-weight: 400;
    color: #3d3d3d;
    font-size: 15px;
    line-height: 267%;
    text-decoration: none;
    padding-left: 30px;
    font-family: 'cera_round_pro_demoregular';
}
.product .menu a:hover{
    font-weight: 700;
    color: #46a358;
}
.product .menu ul{
    margin-bottom: 250px;
}


.product .top{
    max-width: 840px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
    margin-left: 50px;
}
.product .top li a{
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    text-decoration: none;
    font-family: 'cera_round_pro_demoregular';
}
.product .top li a:hover{
    font-weight: 700;
    color: #46a358;
    border-bottom: 2px solid #46a358;
}
.product .top p{
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    font-family: 'cera_round_pro_demoregular';
}
.product .top ul{
    display: flex;
    align-items: flex-start;
    gap: 37px;
}


.product .plants{
    max-width: 840px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 100px 20px;
    margin-left: 50px;
    margin-bottom: 90px;

}
.product .plants .border{
    border-top: solid 1px transparent;
    position: relative;
}
.product .plants .sale{
    background: #46a358;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    padding: 7px 8px;
    position: absolute;
    top: 0;
    left: 0;
}
.product article .by{
    width: 125px;
    bottom: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
    left: calc(50% - 63px);lay: none;
    opacity: 0;
    transition: 0.3s;
}
.product .border:hover .by{
    opacity: 1;
}
.product .border .by_2{
    width: 20px;
    height: 20px;
}
.product .border:hover{
    border-top: solid 1px green;
}
.product .plants img{
    width: 250px;
    height: 250px;
    margin-bottom: 37px;
}
.product .plants h2{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    margin-bottom: 6px;
    font-family: 'cera_round_pro_demoregular';
}
.product .plants p{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    font-family: 'cera_round_pro_demoregular';
}


.product .list{
    display: flex;
    justify-content: flex-end;
}
.product .list ul{
    display: flex;
    align-items: center;
    width: 215px;
    gap: 10px;
    font-family: 'cera_round_pro_demoregular';
}
.product .list li a{
    border: 1px solid #e5e5e5;
    border-radius:4px;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    padding: 12px;
    text-decoration: none;
}
.product .list li a:hover{
    color: white;
    background: green;
}
.product .list li:last-of-type:hover a{
    background-image: url("../img/Stroke_2.svg");
}


.summer{
    margin-bottom: 138px;
}
.summer .container{
    display: flex;
    justify-content: space-between;
}
.summer img{
    width: 289px;
    height: 287px;
}
.summer .right{
    padding-right: 30px;
}
.summer article{
    display: flex;
    justify-content: space-between;
    text-align: right;
    max-width: 586px;
    background: #fbfbfb;
}
.summer h3{
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-top: 37px;
    margin-bottom: 9px;
    font-family: 'cera_round_pro_demoregular';
}
.summer p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 25px;
    font-family: 'cera_round_pro_demoregular';
}
.summer .find{
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    border-radius: 6px;
    background: #46a358;
    padding: 10px 28px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'cera_round_pro_demoregular';
}
.summer .find:after{
    background-image: url("../img/ArrowRightFind_2.svg");
    display: inline-block;
    width: 18px;
    height: 18px;
    content: "";
    margin-left: 2px;
    stroke: #fff;
}



.blog{
    margin-bottom: 100px;
}
.blog .cards{
    display: flex;
    justify-content: space-between;
    gap: 44px;
}
.blog article{
    width: 268px;
    background: #fbfbfb;
}
.blog h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 15px;
    font-family: 'cera_round_pro_demoregular';
}
.blog .online{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    margin-bottom: 35px;
    font-family: 'cera_round_pro_demoregular';
}
.blog img{
    margin-bottom: 9px;
}
.blog article p:first-of-type{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    padding-left: 15px;
    margin-bottom: 4px;
    font-family: 'cera_round_pro_demoregular';
}
.blog h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    padding-left: 15px;
    margin-bottom: 4px;
    font-family: 'cera_round_pro_demoregular';
}
.blog h3:first-of-type{
   padding-right: 64px;
}
.blog h3:nth-of-type(2){
    padding-right: 53px;
}
.blog h3:nth-of-type(3){
    padding-right: 79px;
}
.blog article:last-of-type h3{
    text-transform: capitalize;
    padding-right: 85px;
}
.blog article p:last-of-type{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    padding-left: 15px;
    padding-right: 11px;
    margin-bottom: 9px;
    font-family: 'cera_round_pro_demoregular';
}
.blog article span{
    color: #46a358;
}
.blog .read{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    padding-left: 15px;
    padding-bottom: 13px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-family: 'cera_round_pro_demoregular';
}
.blog .read:after{
    background-image: url("../img/ArrowRightRead.svg");
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    margin-left: 6px;
}
.blog .read:hover{
    color: #46a358;
}
.blog .read:hover:after{
    background-image: url("../img/ArrowRightRead_2.svg");
}


.join .container{
    background: #fbfbfb;
    padding: 25px 24px;
    display: flex;
    justify-content: space-between;
}
.join article{
    width: 204px;
    text-align: left;
}
.join article img{
    margin-bottom: 15px;
}
.join article h4{
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    margin-bottom: 9px;
    font-family: 'cera_round_pro_demoregular';
}
.join article p{
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    font-family: 'cera_round_pro_demoregular';
}
.join .would{
    max-width: 354px;
}
.join .would form{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.join .would h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    padding-top: 12px;
    margin-bottom: 25px;
    font-family: 'cera_round_pro_demoregular';
}
.join form input{
    padding: 12px 11px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    background: #fff;
    border-radius: 6px 0 0 6px;
    border: none;
    outline: none;
    width: 269px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    font-family: 'cera_round_pro_demoregular';
}
.join form button{
    padding: 12px 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    width: 85px;
    color: #fff;
    border-radius: 0 6px 6px 0;
    border: none;
    background: #46a358;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    font-family: 'cera_round_pro_demoregular';
}
.join .would p{
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
    font-family: 'cera_round_pro_demoregular';
}


footer .container{
    padding: 27px 23px;
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
}
footer .contacts{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
footer .location, .message, .calling{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    text-decoration: none;
    font-family: 'cera_round_pro_demoregular';
}
footer .location{
    width: 205px;
}
footer .location:before{
    background-image: url("../img/Location.svg");
    display: inline-block;
    width: 25px;
    height: 18px;
    content: "";
    margin-right: 13px;
}
footer .message:before{
    background-image: url("../img/Message.svg");
    display: inline-block;
    width: 18px;
    height: 18px;
    content: "";
    margin-right: 13px;
}
footer .calling:before{
    background-image: url("../img/Calling.svg");
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    margin-right: 13px;
}
footer a:hover{
    color: #46a358;
}